* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 10px 20px;
}
#hero-image {
  width: 700px;
  display: block;
  margin: 10px auto;
}
.hero-container {
  margin: 20px 0;
}
.hero-container > h1 {
  font-size: 61px;
  text-align: center;
}
.hero-container > p {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
#getnotion {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: max-content;
  margin: 0 auto;
}
