* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 10px 20px;
}
#hero-image {
  width: 700px;
  display: block;
  margin: 10px auto;
}
.hero-container {
  margin: 20px 0;
}
.hero-container > h1 {
  font-size: 61px;
  text-align: center;
}
.hero-container > p {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
#getnotion {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: max-content;
  margin: 0 auto;
}
.image {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.carouser-div {
  width: 78rem;
  margin: 30px auto;
  overflow: hidden;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(190, 190, 190, 0.188);
}
.client-logos {
  margin: 0px 8rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  column-gap: 20px;
  row-gap: 10px;
}
.clients > img {
  border: 2px solid red;
  width: 200px;
}
.partners-container{
  margin: 0 10rem 10rem;
  border: 2px solid red;
}
.client-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.client-heading>h2{
  font-size: 45px;
}
.client-paragraph>p{
  margin-top: 10px;
  font-size: 16px;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  #hero-image {
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  .carouser-div {
    width: 81%;
  }
}
@media only screen and (max-width: 600px) {
  #hero-image {
    width: 100%;
    margin: 10px auto;
  }
  .image {
    width: 100%;
  }
  .carouser-div {
    width: 100%;
  }
}
